/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 body{
  /* background: url('../src/Image/images.jpg'); */
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* height: 10%; */
  /* width: 10%; */
} 
.field
{
  text-align: center;
  padding: 90px;


}
h1
{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
.img
{
  float: left;
  width:38%;
  height:80%;
  padding-left:120px;
}
.text
{
  text-align: center;
  padding: 90px;
}